<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imhuman.app.com" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="imhuman.app.com.View.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="imhuman.app.com.View.Inscription"
            android:label="@string/title_activity_inscription" >
        </activity>
        <activity
            android:name="imhuman.app.com.View.Connexion"
            android:label="@string/title_activity_connexion" >
        </activity>
        <activity
            android:name="imhuman.app.com.View.Convertisseur"
            android:label="@string/title_activity_convertisseur" >
        </activity>
        <activity
            android:name="imhuman.app.com.View.SearchResult"
            android:label="@string/title_activity_search_result" >
        </activity>
    </application>

</manifest>
